
body{font-family: 'Comic Sans',Arial,sans-serif;
background-color: #00ffd9;
background-image: url(../Imagens/dark-grey-terrazzo.png);
background-size: 1300px 700px;
background-repeat:no-repeat;
background-position:center;
}
h1{color: #c3ab42;
font-style: italic;
font-size: 30Px}
h6{color: #6611ff;
font-style: italic;
font-size: 15Px}
h2{color: #661100;
font-style: normal;
font-size: 25Px}
.destaque{font-size: 22PX;
font-color: red;
font-weight: bold;
background-color: RGBA(240,83,49,0.5)}
